$app-primary: (
50: #e6f0fa,
100: #c1d8f3,
200: #97bfec,
300: #6da5e4,
400: #4e91de,
500: #2f7ed8,
600: #2a76d4,
700: #236bce,
800: #1d61c8,
900: #124ebf,
A100: #eef3ff,
A200: #bbd0ff,
A400: #88adff,
A700: #6e9bff,
contrast: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000
)
);

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$app-typography: mat-typography-config(
$font-family: "HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica, Arial,Lucida Grande,sans-serif"
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($app-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($app-primary); //colors most widely used across all screens and components
$app-accent: mat-palette(
$app-primary,
A200,
A100,
A400
); //colors used for the floating action button and interactive elements

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red); //colors used to convey error state

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

//Setting the overlay very high so it always appears on top
$cdk-z-index-overlay-container: 999999;
@include cdk-overlay();

//Custom
.mat-form-field-placeholder {
  font-size: 115% !important;
}

.mat-form-field {
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }
}
