dist: trusty
sudo: false

language: node_js
node_js:
  - "8"
  - "10"
addons:
  chrome: stable

cache:
  directories:
    - ./node_modules

install:
  - npm run setup

script:
  - npm run test-ci

notifications:
  email:
    on_failure: change
    on_success: change
