.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.filter-container {
  width: 100%;
  border-radius: 0;
  padding: 15px 15px 3px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;

  .filter {
    width: 200px;
    color: #333;
    margin: 0 5px 12px 0;
    height: 100%;
    vertical-align: top;
    display: inline-block;
  }

  .date-range {
    width: 250px;
  }

  .date-array-range {
    width: 250px;
  }

  .date-time-range {
    width: 320px;
  }
}
